.row
  .col-md-4
    %h4 Technical stuff
    %p
      We've got functional tests coming out of our ears, and we know a thing or
      two about abstraction and breaking problems down into smaller pieces that
      are easier to solve.

  .col-md-4
    %h4 Systemic oppression
    %p
      What's all this about racism, classism, sexism, and the white supremacist
      capitalist heteropatriarchy?  And what about how those intersect with
      each other.  Plus, throw in some environmental destruction and we've got
      a lot on our hands.

  .col-md-4
    %h4 Life
    %p
      What do we do about it all?  Well, you can check out some of the articles
      below.  We'll be covering all this and more, and we're hoping to get some
      other contributing authors on here too.
