.jumbotron
  %h1 Robots with Hearts
  %p Charlie and Ike's blog

.row
  .col-md-4
    %h4 Technical stuff
    %p We've got functional tests coming out of our ears.

  .col-md-4
    %h4 Systemic oppression
    %p What's all this about racism, classism, sexism, and the white supremacist capitalist heteropatriarchy?

  .col-md-4
    %h4 Life
    %p What do we do about it?

- @pages.each do |page|
  = Haml::Engine.new(page.read).render
