.row
  .col-md-4
    %h4 Technical stuff
    %p
      We're a bunch of computer scientists and technically-minded people.  We
      know a thing or two about abstraction and breaking problems down into
      smaller pieces that are easier to solve.  But where does that leave us
      with problems that really matter?

  .col-md-4
    %h4 Systemic oppression
    %p
      What's this about the white supremacist capitalist heteropatriarchy?  And
      catastrophic global climate destabilization?  With all this, we've got a
      lot on our hands.

  .col-md-4
    %h4 Life
    %p
      What do we do about it all?  Well, that's what we're writing about.
      We'll be covering all this and more, and we're hoping to get some other
      contributing authors on here too.
