.row
  .col-md-6
    %h2= link_to "Why I Write", '/2014-01-01-why-i-write/'

    :markdown

      *Isaac Hollander McCreery, 1 January 2014*

      Today, as I walked south in Oberlin, the smudges of melting snow on the sidewalk seemed in their right places.  I was thinking about why I write.  As I crossed Plum Creek, on the other side of the road was a man I greatly admire, though he doesn’t know me.  He’s a professor of theater at the College, and he directed *A Raisin in the Sun* a few summers ago.  It’s these kinds of people who make us want to see the world clearer.  Through their tireless work we gain clarity, and we are inspired to work tirelessly ourselves...

  .col-md-6
    %h2= link_to "Thrown and Scattered", '/2014-01-01-thrown-and-scattered/'

    :markdown

      *Charles Marks, 1 January 2014*

      We are young and we are idealistic.  We are the freshly educated youth.  We want to make positive change in the world.  We are the most capable, given the unweathered idealism of our young age, and we are horrendous at bringing about positive change because we have not failed enough, and we have been taught that the difference between success and failure is entirely effort...
