%h2= link_to "Thrown and Scattered", '/2014-01-01-thrown-and-scattered/'

:markdown

  *Charles Marks, 1 January 2014*

  We are young and we are idealistic.  We are the freshly educated youth.  We want to make positive change in the world.  We are the most capable, given the unweathered idealism of our young age, and we are horrendous at bringing about positive change because we have not failed enough, and we have been taught that the difference between success and failure is entirely effort. 

  Our efforts have not yet been constricted by the parameters of reality.  A project assigned in the classroom must only match the grading rubric of that assignment.  When it comes to making change in society, there are no grades.  There are rules and laws and expectations which determine what types of actions are acceptable, there are people that we must gain approval from and people we must coordinate our efforts with.  There actually has to be a goal that can be reached through a feasible set of actions. 

  Sure, school’s been hard, we’ve all struggled, we’ve all been pushed to the brink of our mental capabilities.  Some of us are in debt.  Some of us are heartbroken.  Some of us are lost.  Some of us have felt real pain, real hardship. Some of us are burnt out.  But college, academia, reinforces in us year after year that if we are passionate about a topic and we work hard, we will succeed and we will be supported by those around us.  

  Our education has taught us that the line which divides success and failure is a test of effort, inclination, and passion, and often times only one of those three attributes is necessary to find success.  Some students take classes directionlessly and walk away with an education in something they couldn’t give a shit about.  Many students walk away with degrees in topics they love though they had no inclination for them.

  Now we are preparing ourselves to leave the educational system.  We are young and we are idealistic and we are determined to make the world a better place and we are going to do it through our efforts, inclinations and passion.  

  But, ugh, we really are so naive! How are we supposed to know that effort and passion alone are no guarantee that we will make the positive change we strive towards?  How are we supposed to know, without a proper plan of action that takes into account our own personal skillsets and passions as well as all the realities that we must face in striving for change, that our efforts will be thrown and scattered to who-knows-where?

  And sure, a lot of us understand this peril.  We are aware of it.  But we have to do something about it.  We need to prepare ourselves.  We need to understand the pitfalls of not understanding where our efforts are being directed, even if the reasons are pure.  We need to understand that we can throw every ounce of our being, of our soul, into a cause and that we might fail; or worse, we might have no impact whatsoever; or worse we might fuck up big time. 

  I am writing because I know where I want my efforts and passion to go (the vague essence of “I want to make the world better”), but I do not know how to get there, and I am trying to figure it out.  I hope that my insights can also help you think through things as well.
