%h2= link_to "Why I Write", '/2014-01-01-why-i-write/'

:markdown

  *Isaac Hollander McCreery, 1 January 2014*

  Today, as I walked south in Oberlin, the smudges of melting snow on the sidewalk seemed in their right places.  I was thinking about why I write.  As I crossed Plum Creek, on the other side of the road was a man I greatly admire, though he doesn’t know me.  He’s a professor of theater at the College, and he directed *A Raisin in the Sun* a few summers ago.  It’s these kinds of people who make us want to see the world clearer.  Through their tireless work we gain clarity, and we are inspired to work tirelessly ourselves.

  As I approached the house, I noticed a large greyish shape moving slowly in Plum Creek.  I crossed the street to get a closer look.  There in the middle of the shallow trough stood a Great Blue Heron, all quiet and regal.  It took a few steps as I watched, then took off, carrying its massive body up and over the trees and far downstream.

  Whenever I read, I process what I’m reading by connecting it to everything in my life.  While I watched, I reflected on the book I finished earlier this week by black intellectual bell hooks.  I try to think like the writer and the characters, and see the world as how I think they’d see it.  hooks is another one of those people who make us want to see the world clearer.  It’s inspiring how she constructs and analyzes theory from her own lived experiences.  I hope someday to be able to say what she does when I look back on my work:

  > Merging critical thinking in everyday life with knowledge learned in books and through study has been the union of theory and practice that has informed my intellectual cultural work.  Passionately concerned with education for critical consciousness, I continually search for ways to think, teach, and write that excite and liberate the mind, that passion to live and act in a way that challenges systems of domination: racism, sexism, class elitism.

  I was reflecting on why I write.  I find myself constantly under the palm of systems so large and complex I can’t begin to comprehend them.  Writing is a way to understand those systems, and thus to loosen the grip they have on my life.  Later today, I took a long walk with someone who’s very close to me.  Over the years, we’ve had our share of fallings out.  As we looked back, I thought about how so much of what’s torn us apart is part of larger systems: insidious racism, sexism, class elitism.  These things are not abstract, and they are not far away.  They are close to all of us, and they dramatically influence every aspect of our lives.  There is no space free of politics.  Writing will allow me—indeed, push me—to really consider what I see and do, and to build coherent ideas out of the jumble of confusion that characterizes the human experience.  In the process, I hope to find myself and those around me a little freer from the systems that hold all of us.  I write to clarify, and I write to liberate.

  A tension
  ---------

  For years now I've struggled with a fundamental tension that will inform much of what is to come.  On one hand, I know we should “courageously surrender” our participation in all those spheres of “coercive hierarchical domination”—racism, sexism, class elitism, and others—in which we enjoy privilege, as hooks says.  “The fierce willingness to repudiate domination in a holistic manner is the starting point for progressive cultural revolution.”  And she cites cultural criticism—the process of merging critical thinking in everyday life with knowledge learned formally—as “a vital location for the exchange of knowledge”.  Like I said earlier, she’s an inspiration to work tirelessly.

  On the other hand, I feel a push to take my life in another direction.  Those same spheres of coercive hierarchical domination have bestowed upon me education, knowledge, passion, and power.  It’s hard for me to imagine surrendering participation, because I feel that so much of what I’ve gained is good for me and good for the world.  For one, without the education I’ve received, I definitely wouldn’t be reading hooks or writing this.  I want to take what’s been given to me and apply it in the best way possible.

  Later in her book, in her essay “Spending Culture”, hooks evokes a tension similar to the one I’m talking about here, though different because it’s from a black perspective, one I will never have.  She starts by citing cultural historian Paul Fussell and his description of a free class of people, a group he calls Xs:

  > The old-fashioned term Bohemians gives some idea; so does the term the talented.  Some Xs are intellectual, but a lot are not: they are actors, musicians, artists, sport stars, “celebrities,” well-to-do former hippies, confirmed residers abroad, and the more gifted journalists … they tend to be self-employed, doing what social scientists call autonomous work … X people are independent-minded, free of anxious regard for popular shibboleths, loose in carriage and demeanor.  They adore the work they do … Being an X person is like having much of the freedom and some of the power of a top-out-of-sight or upper class person, but without the money.  X category is a sort of unmonied aristocracy.

  That X personhood has been an important draw to me since I was young, and for me, being an X person probably involves working in a highly technical field.  I’ve always felt I wanted to build technical things: blocks were a staple of my childhood, games like chess and go came later, and I’ve loved studying math and computer science in college.  Since before I was born, my dad has always worked for himself in a technical one-man company he started more than three decades ago.  It’s hard for me to imagine working for someone else.  As I’ve grown older, though, (I was joking earlier today with some friends about the loss of childhood innocence,) I’m more and more inclined to work in political things, to go beyond embodying the X person.  I can no longer let the world fall away as I dive into computational problems or mathematical proofs.

  Toward the end of her essay, hooks describes her own struggles:

  > Those of us who are still working to mix the vision of autonomy evoked by X category with our dedication to end domination in all its forms, who cherish openness, honesty, radical will, creativity, and free speech, and do not long to have power over others, or to build nations (or even academic empires), are working to project an alternative politics of representation—working to free the black image so it not [sic] enslaved to any exploitative or oppressive agenda.

  I said earlier I write to clarify and liberate.  I also work to clarify and liberate.  I don’t think I can live with the political projects on the sidelines of my life, but it’s not clear to me yet how they fit in with the highly technical fields I’ve always been drawn to.  A lot of what I’ll write about will probably revolve around this tension.

  Conclusion
  ----------

  So, I'll be writing as I go.  Thoughts and ideas will accumulate and topple, overthrown by others; I will likely contradict myself often.  I will write passionately because that is how I think, and I will write from my experience because that is what I have.  I will attempt to augment it with other writers' experiences, translated as truthfully as I can manage, when I am able.

  Some posts will be very technical, and others will feel foreign to someone who is unfamiliar with the conceptual frameworks of privilege and oppression, but I will strive to make every post accessible.  A reader might try to keep patience in their heart as they read, patience with me and themselves as we stumble through different topics and ideas together, some of which may be familiar, others very foreign.

  I'm certainly excited.  It will be hard for me to sleep tonight.  As I walked south this morning I was a little sleepy and my head was a little fuzzy, but this stuff gets my blood going, and things clear up as the day goes on.
