/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$red: #990000;
$brand-primary: $red;

@import "bootstrap";

.header {
  text-align: center;
  background: $red;

  h1 {
    a {
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
  }

  h3 {
    margin: auto auto 6rem auto;
    color: black;
  }
}

.container {
  margin: 4rem auto;
  max-width: 800px;
}

article p {
  font-family: serif;
  font-size: 1.9rem;
}

footer {
  margin: 4rem auto;
  text-align: center;
}
